<body>
  <nav class="navbar navbar-expand-lg navbar-custom py-3">
    <div class="container">
      <!-- Logo -->
      <a class="navbar-brand fw-bold fs-3" href="#">T&T Hotel</a>

      <!-- Toggler cho mobile -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Menu -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link fs-5 {% if request.path == '/' %} active {% endif %}" href="/">Trang chủ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-5 {% if request.path == '/booking' %} active {% endif %}" href="/booking">Đặt phòng</a>
          </li>
          {% if session['role'] in [1, 3] %}
          <li class="nav-item">
            <a class="nav-link fs-5 {% if request.path == '/rent' %} active {% endif %}" href="/rent">Thuê phòng</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-5 {% if request.path == '/invoice' %} active {% endif %}" href="/checkin">Phiếu đặt</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-5 {% if request.path == '/invoice' %} active {% endif %}" href="/checkout">Phiếu thuê</a>
          </li>
          {% endif %}
        </ul>

        <!-- Phần bên phải -->
        <div class="d-flex align-items-center gap-3">

          {% if current_user.is_authenticated %}
          <a class="nav-link d-flex align-items-center" href="/">
            <img src="{{ current_user.avatar }}" width="30" class="rounded-circle">
            Chào {{ current_user.username }}
          </a>
          <a href="logout" class="btn btn-custom px-3 py-2">Đăng xuất</a>
          {% else %}
          <!-- Đăng ký và Đăng nhập -->
          <a href="register" class="btn btn-custom px-3 py-2">Đăng ký</a>
          <a href="login" class="btn btn-custom px-3 py-2">Đăng nhập</a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
