{% extends 'layout/base.html' %}

{% block content %}
<main class="container d-flex justify-content-center align-items-center flex-column">
    <!-- Tiêu đề -->
    <header class="mb-4">
        <h1 class="text-center fw-bold">Các Loại Phòng của T&T Hotel</h1>
        <p class="text-center text-muted">Khám phá các loại phòng phù hợp với nhu cầu của bạn</p>
    </header>

    <div class="row justify-content-center">
        {% for r in RoomType %}
        <div class="col-lg-6 col-md-8 col-sm-12 p-4">
            <div class="card h-100">
                <img class="card-img-top" src="{{ url_for('static', filename=r.image) }}" alt="{{ r.name }}" style="height: 400px; object-fit: cover;">
                <div class="card-body text-center">
                    <h3 class="card-title">{{ r.name }}</h3>
                    <!-- Dòng ngang chứa giá và số lượng người -->
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-primary fw-bold">Giá phòng: {{ r.price }} VNĐ</span>
                        <span class="text-secondary">Số người: {{ r.max_guests-1 }}-{{ r.max_guests }}</span>
                    </div>
                    <a href="{{ url_for('room_detail', room_type_id=r.id) }}" class="btn btn-info">Xem chi tiết</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</main>



{% endblock %}